<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    
    <servlet-mapping>
        <servlet-name>MainFormServlet</servlet-name>
        <url-pattern>/mainForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MainFormServlet</servlet-name>
        <servlet-class>org.ningf.ourpetstore.web.servlet.MainFormServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>CategoryFormServlet</servlet-name>
        <url-pattern>/categoryForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CategoryFormServlet</servlet-name>
        <servlet-class>org.ningf.ourpetstore.web.servlet.catalog.CategoryFormServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProductFormServlet</servlet-name>
        <url-pattern>/productForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductFormServlet</servlet-name>
        <servlet-class>org.ningf.ourpetstore.web.servlet.catalog.ProductFormServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ItemFormServlet</servlet-name>
        <url-pattern>/itemForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ItemFormServlet</servlet-name>
        <servlet-class>org.ningf.ourpetstore.web.servlet.catalog.ItemFormServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <url-pattern>/addItemToCart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <servlet-class>org.ningf.ourpetstore.web.servlet.cart.AddItemToCartServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/updateCart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>org.ningf.ourpetstore.web.servlet.cart.UpdateCartServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RemoveCartItemServlet</servlet-name>
        <url-pattern>/removeCartItem</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RemoveCartItemServlet</servlet-name>
        <servlet-class>org.ningf.ourpetstore.web.servlet.cart.RemoveCartItemServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CartFormServlet</servlet-name>
        <url-pattern>/cartForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CartFormServlet</servlet-name>
        <servlet-class>org.ningf.ourpetstore.web.servlet.cart.CartFormServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignOnFormServlet</servlet-name>
        <url-pattern>/signOnForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignOnFormServlet</servlet-name>
        <servlet-class>org.ningf.ourpetstore.web.servlet.account.SignOnFormServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NewOrderFormServlet</servlet-name>
        <url-pattern>/newOrderForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewOrderFormServlet</servlet-name>
        <servlet-class>org.ningf.ourpetstore.web.servlet.order.NewOrderFormServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignOnServlet</servlet-name>
        <url-pattern>/signOn</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignOnServlet</servlet-name>
        <servlet-class>org.ningf.ourpetstore.web.servlet.account.SignOnServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SearchProductsFormServlet</servlet-name>
        <url-pattern>/searchProductsForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchProductsFormServlet</servlet-name>
        <servlet-class>org.ningf.ourpetstore.web.servlet.catalog.SearchProductsFormServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ValidationCodeServlet</servlet-name>
        <url-pattern>/validation_code</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ValidationCodeServlet</servlet-name>
        <servlet-class>org.ningf.ourpetstore.web.servlet.ValidationCodeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NewAccountServlet</servlet-name>
        <url-pattern>/newAccount</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewAccountServlet</servlet-name>
        <servlet-class>org.ningf.ourpetstore.web.servlet.account.NewAccountServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NewAccountFormServlet</servlet-name>
        <url-pattern>/newAccountForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewAccountFormServlet</servlet-name>
        <servlet-class>org.ningf.ourpetstore.web.servlet.account.NewAccountFormServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateAccountFormServlet</servlet-name>
        <url-pattern>/updateAccountForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateAccountFormServlet</servlet-name>
        <servlet-class>org.ningf.ourpetstore.web.servlet.account.UpdateAccountFormServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <url-pattern>/updateAccount</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <servlet-class>org.ningf.ourpetstore.web.servlet.account.UpdateAccountServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignOutServlet</servlet-name>
        <url-pattern>/signOut</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignOutServlet</servlet-name>
        <servlet-class>org.ningf.ourpetstore.web.servlet.account.SignOutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NewOrderServlet</servlet-name>
        <url-pattern>/newOrder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewOrderServlet</servlet-name>
        <servlet-class>org.ningf.ourpetstore.web.servlet.order.NewOrderServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ConfirmOrderFormServlet</servlet-name>
        <url-pattern>/confirmOrderForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConfirmOrderFormServlet</servlet-name>
        <servlet-class>org.ningf.ourpetstore.web.servlet.order.ConfirmOrderFormServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ListOrdersFormServlet</servlet-name>
        <url-pattern>/listOrdersForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListOrdersFormServlet</servlet-name>
        <servlet-class>org.ningf.ourpetstore.web.servlet.order.ListOrdersFormServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ViewOrderFormServlet</servlet-name>
        <url-pattern>/viewOrderForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewOrderFormServlet</servlet-name>
        <servlet-class>org.ningf.ourpetstore.web.servlet.order.ViewOrderFormServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProductAutoCompleteServlet</servlet-name>
        <url-pattern>/productAuto</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductAutoCompleteServlet</servlet-name>
        <servlet-class>org.ningf.ourpetstore.web.servlet.catalog.ProductAutoCompleteServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>IsUserNameExistServlet</servlet-name>
        <url-pattern>/isUserNameExist</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>IsUserNameExistServlet</servlet-name>
        <servlet-class>org.ningf.ourpetstore.web.servlet.account.IsUserNameExistServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CartAutoUpdateServlet</servlet-name>
        <url-pattern>/cartAutoUpdate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CartAutoUpdateServlet</servlet-name>
        <servlet-class>org.ningf.ourpetstore.web.servlet.cart.CartAutoUpdateServlet</servlet-class>
    </servlet>
</web-app>